# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Virtual environments (important!)
backend/venv/
backend/.venv/

# Node / Frontend (for future)
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
